.contenedorFinCompra{
    width:100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

.FinCompra{
    background-color: yellow;
    width: 500px;
    height: 300px;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    
}

.contenedorElementosFinCompra{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto auto;
}

encabezadoModal{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;

    
}

.tituloEncabezado{
    font-weight: 500;
    font-size: 16px;
    color: green;
    
}

.buttonCerrar{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: yellow;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 5px;
    transition: .5s;

   
}

.buttonCerrar:hover{
    background-color: rgb(247, 247, 117);
}

.logoApuModal{
    width: 30%;
    margin-left: 30px;
}